In [66]:
import pandas as pd
import numpy as np
data = pd.read_excel('Data.xlsx')
csv_data = data.to_csv('salesData.csv', index=False,encoding='utf-8-sig')
df = pd.read_csv('salesData.csv')
df

,InvoiceID,CompanyRef,CurrencyRef,Number,Date,CustomerRef,BrokerRef,Creator,PayerType,InvoicePrice,...,ProductRef,Quantity,MajorUnitQuantity,InitialQuantity,PriceBaseFee,Fee,Price,DeliveryAddressRef,SalesArea,RegionalDivision
0,62,1,1,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,...,613,1.0,1.0,1.0,9.500000e+07,9.500000e+07,9.500000e+07,NaN,تک فروشی,بروجرد
1,62,1,1,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,...,613,1.0,1.0,1.0,9.500000e+07,9.500000e+07,9.500000e+07,NaN,تک فروشی,بروجرد
2,64,1,1,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,...,937,4.0,4.0,4.0,4.375000e+09,4.375000e+09,1.750000e+10,NaN,تک فروشی,تهران
3,64,1,1,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,...,937,4.0,4.0,4.0,4.375000e+09,4.375000e+09,1.750000e+10,NaN,تک فروشی,تهران
4,67,1,1,26167,2022-02-22 00:00:00.000,13704,3,8947,1,2.000000e+07,...,22545,1.0,1.0,1.0,2.000000e+07,2.000000e+07,2.000000e+07,470.0,تک فروشی,تهران
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17091,5173,1,1,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,...,48931,200.0,200.0,200.0,1.400000e+06,1.400000e+06,2.800000e+08,1960.0,خدمات پس از فروش,تهران
17092,5173,1,1,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,...,49314,1.0,1.0,1.0,6.200000e+08,6.200000e+08,6.200000e+08,1960.0,خدمات پس از فروش,تهران
17093,5173,1,1,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,...,49314,1.0,1.0,1.0,6.200000e+08,6.200000e+08,6.200000e+08,1960.0,خدمات پس از فروش,تهران
17094,5173,1,1,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,...,49315,1.0,1.0,1.0,2.000000e+07,2.000000e+07,2.000000e+07,1960.0,خدمات پس از فروش,تهران
17095,5173,1,1,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,...,49315,1.0,1.0,1.0,2.000000e+07,2.000000e+07,2.000000e+07,1960.0,خدمات پس از فروش,تهران

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17096 entries, 0 to 17095
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   InvoiceID               17096 non-null  int64
 1   CompanyRef              17096 non-null  int64
 2   CurrencyRef             17096 non-null  int64
 3   Number                  17096 non-null  int64
 4   Date                    17096 non-null  object
 5   CustomerRef             17096 non-null  int64
 6   BrokerRef               17096 non-null  int64
 7   Creator                 17096 non-null  int64
 8   PayerType               17096 non-null  int64
 9   InvoicePrice            17096 non-null  float64
 10  InvoiceAdditionAmount   17096 non-null  float64
 11  InvoiceReductionAmount  17096 non-null  float64
 12  InvoiceNetPrice         17096 non-null  float64
 13  EffectiveNetPrice       17096 non-null  float64
 14  InvoiceStauts           17096 non-null  object
 15  CanceledDate            288 non-null    object
 16  CreationDate            17096 non-null  object
 17  InvoiceItemID           17096 non-null  int64
 18  InvoiceRef              17096 non-null  int64
 19  ProductRef              17096 non-null  int64
 20  Quantity                17096 non-null  float64
 21  MajorUnitQuantity       17096 non-null  float64
 22  InitialQuantity         17096 non-null  float64
 23  PriceBaseFee            17096 non-null  float64
 24  Fee                     17096 non-null  float64
 25  Price                   17096 non-null  float64
 26  DeliveryAddressRef      16046 non-null  float64
 27  SalesArea               17096 non-null  object
 28  RegionalDivision        17096 non-null  object
dtypes: float64(12), int64(11), object(6)
memory usage: 3.8+ MB

In [68]:
columns = ['CompanyRef','CurrencyRef','EffectiveNetPrice','MajorUnitQuantity','InitialQuantity','PriceBaseFee','DeliveryAddressRef']
df.drop(columns=columns,inplace=True)
df

,InvoiceID,Number,Date,CustomerRef,BrokerRef,Creator,PayerType,InvoicePrice,InvoiceAdditionAmount,InvoiceReductionAmount,...,CanceledDate,CreationDate,InvoiceItemID,InvoiceRef,ProductRef,Quantity,Fee,Price,SalesArea,RegionalDivision
0,62,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,8.550000e+06,0.0,...,NaN,2022-02-27 16:51:59.880,191,62,613,1.0,9.500000e+07,9.500000e+07,تک فروشی,بروجرد
1,62,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,8.550000e+06,0.0,...,NaN,2022-02-27 16:51:59.880,191,62,613,1.0,9.500000e+07,9.500000e+07,تک فروشی,بروجرد
2,64,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,1.575000e+09,0.0,...,NaN,2022-03-02 08:23:02.367,196,64,937,4.0,4.375000e+09,1.750000e+10,تک فروشی,تهران
3,64,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,1.575000e+09,0.0,...,NaN,2022-03-02 08:23:02.367,196,64,937,4.0,4.375000e+09,1.750000e+10,تک فروشی,تهران
4,67,26167,2022-02-22 00:00:00.000,13704,3,8947,1,2.000000e+07,1.800000e+06,0.0,...,NaN,2022-03-02 08:50:21.620,203,67,22545,1.0,2.000000e+07,2.000000e+07,تک فروشی,تهران
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17091,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,NaN,2025-03-11 09:23:08.820,45748,5173,48931,200.0,1.400000e+06,2.800000e+08,خدمات پس از فروش,تهران
17092,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,NaN,2025-03-11 09:23:08.820,45749,5173,49314,1.0,6.200000e+08,6.200000e+08,خدمات پس از فروش,تهران
17093,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,NaN,2025-03-11 09:23:08.820,45749,5173,49314,1.0,6.200000e+08,6.200000e+08,خدمات پس از فروش,تهران
17094,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,NaN,2025-03-11 09:23:08.820,45750,5173,49315,1.0,2.000000e+07,2.000000e+07,خدمات پس از فروش,تهران
17095,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,NaN,2025-03-11 09:23:08.820,45750,5173,49315,1.0,2.000000e+07,2.000000e+07,خدمات پس از فروش,تهران

In [69]:
df.isna().sum()

InvoiceID                     0
Number                        0
Date                          0
CustomerRef                   0
BrokerRef                     0
Creator                       0
PayerType                     0
InvoicePrice                  0
InvoiceAdditionAmount         0
InvoiceReductionAmount        0
InvoiceNetPrice               0
InvoiceStauts                 0
CanceledDate              16808
CreationDate                  0
InvoiceItemID                 0
InvoiceRef                    0
ProductRef                    0
Quantity                      0
Fee                           0
Price                         0
SalesArea                     0
RegionalDivision              0
dtype: int64

In [70]:
df['CanceledDate'] = df['CanceledDate'].fillna('0001-01-01 00:00:00')
df

,InvoiceID,Number,Date,CustomerRef,BrokerRef,Creator,PayerType,InvoicePrice,InvoiceAdditionAmount,InvoiceReductionAmount,...,CanceledDate,CreationDate,InvoiceItemID,InvoiceRef,ProductRef,Quantity,Fee,Price,SalesArea,RegionalDivision
0,62,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,8.550000e+06,0.0,...,0001-01-01 00:00:00,2022-02-27 16:51:59.880,191,62,613,1.0,9.500000e+07,9.500000e+07,تک فروشی,بروجرد
1,62,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,8.550000e+06,0.0,...,0001-01-01 00:00:00,2022-02-27 16:51:59.880,191,62,613,1.0,9.500000e+07,9.500000e+07,تک فروشی,بروجرد
2,64,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,1.575000e+09,0.0,...,0001-01-01 00:00:00,2022-03-02 08:23:02.367,196,64,937,4.0,4.375000e+09,1.750000e+10,تک فروشی,تهران
3,64,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,1.575000e+09,0.0,...,0001-01-01 00:00:00,2022-03-02 08:23:02.367,196,64,937,4.0,4.375000e+09,1.750000e+10,تک فروشی,تهران
4,67,26167,2022-02-22 00:00:00.000,13704,3,8947,1,2.000000e+07,1.800000e+06,0.0,...,0001-01-01 00:00:00,2022-03-02 08:50:21.620,203,67,22545,1.0,2.000000e+07,2.000000e+07,تک فروشی,تهران
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17091,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,0001-01-01 00:00:00,2025-03-11 09:23:08.820,45748,5173,48931,200.0,1.400000e+06,2.800000e+08,خدمات پس از فروش,تهران
17092,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,0001-01-01 00:00:00,2025-03-11 09:23:08.820,45749,5173,49314,1.0,6.200000e+08,6.200000e+08,خدمات پس از فروش,تهران
17093,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,0001-01-01 00:00:00,2025-03-11 09:23:08.820,45749,5173,49314,1.0,6.200000e+08,6.200000e+08,خدمات پس از فروش,تهران
17094,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,0001-01-01 00:00:00,2025-03-11 09:23:08.820,45750,5173,49315,1.0,2.000000e+07,2.000000e+07,خدمات پس از فروش,تهران
17095,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,0001-01-01 00:00:00,2025-03-11 09:23:08.820,45750,5173,49315,1.0,2.000000e+07,2.000000e+07,خدمات پس از فروش,تهران

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17096 entries, 0 to 17095
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   InvoiceID               17096 non-null  int64
 1   Number                  17096 non-null  int64
 2   Date                    17096 non-null  object
 3   CustomerRef             17096 non-null  int64
 4   BrokerRef               17096 non-null  int64
 5   Creator                 17096 non-null  int64
 6   PayerType               17096 non-null  int64
 7   InvoicePrice            17096 non-null  float64
 8   InvoiceAdditionAmount   17096 non-null  float64
 9   InvoiceReductionAmount  17096 non-null  float64
 10  InvoiceNetPrice         17096 non-null  float64
 11  InvoiceStauts           17096 non-null  object
 12  CanceledDate            17096 non-null  object
 13  CreationDate            17096 non-null  object
 14  InvoiceItemID           17096 non-null  int64
 15  InvoiceRef              17096 non-null  int64
 16  ProductRef              17096 non-null  int64
 17  Quantity                17096 non-null  float64
 18  Fee                     17096 non-null  float64
 19  Price                   17096 non-null  float64
 20  SalesArea               17096 non-null  object
 21  RegionalDivision        17096 non-null  object
dtypes: float64(7), int64(9), object(6)
memory usage: 2.9+ MB

In [73]:

for col in df.select_dtypes(include=['int64', 'float64']).columns:
    print(f"{col}: min={df[col].min()}, max={df[col].max()}, dtype={df[col].dtype}")

InvoiceID: min=62, max=5173, dtype=int64
Number: min=11171, max=27960, dtype=int64
CustomerRef: min=3, max=94414, dtype=int64
BrokerRef: min=1, max=15, dtype=int64
Creator: min=1, max=9081, dtype=int64
PayerType: min=1, max=3, dtype=int64
InvoicePrice: min=0.0, max=2079059364000.0, dtype=float64
InvoiceAdditionAmount: min=0.0, max=207905936400.0, dtype=float64
InvoiceReductionAmount: min=0.0, max=2370000000.0, dtype=float64
InvoiceNetPrice: min=0.0, max=2286965300400.0, dtype=float64
InvoiceItemID: min=191, max=45750, dtype=int64
InvoiceRef: min=62, max=5173, dtype=int64
ProductRef: min=41, max=49319, dtype=int64
Quantity: min=0.7, max=17780.0, dtype=float64
Fee: min=0.0, max=96636005000.0, dtype=float64
Price: min=0.0, max=852000000000.0, dtype=float64

In [74]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

lbe = LabelEncoder()
df['SalesAreaNumber'] = lbe.fit_transform(df['SalesArea'])

df

,InvoiceID,Number,Date,CustomerRef,BrokerRef,Creator,PayerType,InvoicePrice,InvoiceAdditionAmount,InvoiceReductionAmount,...,CreationDate,InvoiceItemID,InvoiceRef,ProductRef,Quantity,Fee,Price,SalesArea,RegionalDivision,SalesAreaNumber
0,62,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,8.550000e+06,0.0,...,2022-02-27 16:51:59.880,191,62,613,1.0,9.500000e+07,9.500000e+07,تک فروشی,بروجرد,0
1,62,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,8.550000e+06,0.0,...,2022-02-27 16:51:59.880,191,62,613,1.0,9.500000e+07,9.500000e+07,تک فروشی,بروجرد,0
2,64,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,1.575000e+09,0.0,...,2022-03-02 08:23:02.367,196,64,937,4.0,4.375000e+09,1.750000e+10,تک فروشی,تهران,0
3,64,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,1.575000e+09,0.0,...,2022-03-02 08:23:02.367,196,64,937,4.0,4.375000e+09,1.750000e+10,تک فروشی,تهران,0
4,67,26167,2022-02-22 00:00:00.000,13704,3,8947,1,2.000000e+07,1.800000e+06,0.0,...,2022-03-02 08:50:21.620,203,67,22545,1.0,2.000000e+07,2.000000e+07,تک فروشی,تهران,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17091,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45748,5173,48931,200.0,1.400000e+06,2.800000e+08,خدمات پس از فروش,تهران,1
17092,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45749,5173,49314,1.0,6.200000e+08,6.200000e+08,خدمات پس از فروش,تهران,1
17093,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45749,5173,49314,1.0,6.200000e+08,6.200000e+08,خدمات پس از فروش,تهران,1
17094,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45750,5173,49315,1.0,2.000000e+07,2.000000e+07,خدمات پس از فروش,تهران,1
17095,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45750,5173,49315,1.0,2.000000e+07,2.000000e+07,خدمات پس از فروش,تهران,1

In [75]:
df['RegionalDivision'] = df['RegionalDivision'].str.strip()  
df['RegionalDivision'] = df['RegionalDivision'].str.replace(r'[^آ-یa-zA-Z0-9\s]', '', regex=True)  
df

,InvoiceID,Number,Date,CustomerRef,BrokerRef,Creator,PayerType,InvoicePrice,InvoiceAdditionAmount,InvoiceReductionAmount,...,CreationDate,InvoiceItemID,InvoiceRef,ProductRef,Quantity,Fee,Price,SalesArea,RegionalDivision,SalesAreaNumber
0,62,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,8.550000e+06,0.0,...,2022-02-27 16:51:59.880,191,62,613,1.0,9.500000e+07,9.500000e+07,تک فروشی,بروجرد,0
1,62,26155,2022-02-06 00:00:00.000,5,1,8959,1,9.500000e+07,8.550000e+06,0.0,...,2022-02-27 16:51:59.880,191,62,613,1.0,9.500000e+07,9.500000e+07,تک فروشی,بروجرد,0
2,64,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,1.575000e+09,0.0,...,2022-03-02 08:23:02.367,196,64,937,4.0,4.375000e+09,1.750000e+10,تک فروشی,تهران,0
3,64,26169,2022-03-02 00:00:00.000,18806,3,8947,1,1.750000e+10,1.575000e+09,0.0,...,2022-03-02 08:23:02.367,196,64,937,4.0,4.375000e+09,1.750000e+10,تک فروشی,تهران,0
4,67,26167,2022-02-22 00:00:00.000,13704,3,8947,1,2.000000e+07,1.800000e+06,0.0,...,2022-03-02 08:50:21.620,203,67,22545,1.0,2.000000e+07,2.000000e+07,تک فروشی,تهران,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17091,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45748,5173,48931,200.0,1.400000e+06,2.800000e+08,خدمات پس از فروش,تهران,1
17092,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45749,5173,49314,1.0,6.200000e+08,6.200000e+08,خدمات پس از فروش,تهران,1
17093,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45749,5173,49314,1.0,6.200000e+08,6.200000e+08,خدمات پس از فروش,تهران,1
17094,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45750,5173,49315,1.0,2.000000e+07,2.000000e+07,خدمات پس از فروش,تهران,1
17095,5173,13050,2025-03-11 00:00:00.000,574,1,9081,1,9.200000e+08,9.200000e+07,0.0,...,2025-03-11 09:23:08.820,45750,5173,49315,1.0,2.000000e+07,2.000000e+07,خدمات پس از فروش,تهران,1

In [76]:
print(df['RegionalDivision'].unique())

['بروجرد' 'تهران' 'مریوان' 'علی آباد کتول' 'کرمان' 'یزد' 'ارومیه' 'یاسوج'
 'اصفهان' 'ایلام' 'بابلسر' 'مشهد' 'قزوین' 'سنندج' 'اراک' 'کرج'
 'استان کرمان' 'قم' 'بندرعباس' 'سمنان' 'همدان' 'زاهدان' 'کیش' 'قشم'
 'مراغه' 'تنکابنشهسوار' 'خوی' 'رشت' 'تبریز' 'زنجان' 'اردبیل' 'گنبد کاووس'
 'شهر کرد' 'شیراز' 'بیرجند' 'بابل' 'بجنورد' 'مرند' 'صفادشت' 'هشتگرد'
 'خرم آباد' 'قائمشهر' 'ورامین' 'شوش دانیال' 'نور' 'مهاباد' 'شهرری'
 'شهریار' 'بندر انزلی' 'دماوند' 'بومهن' 'دورود' 'اهواز' 'استان تهران'
 'بندر لنگه' 'شهر قدس' 'اسلامشهر' 'مرکزی کرج' 'مرکزی رشت' 'گرگان' 'بوشهر'
 'کرج ' 'لنگرود' 'استان بوشهر' 'جاجرود' 'ساوه' 'اندیمشک' 'بهبهان'
 'نظرآباد' 'کرمانشاه' 'آباده' 'شمیرانات' 'مرکزی قم' 'استان خراسان شمالی'
 'ساری' 'خوزستان' 'شوشتر' 'ماهدشت' 'مرکزی اصفهان' 'مازندران' 'مرکزی بوشهر'
 'شاهرود' 'آمل' 'صایین قلعه' 'استان اردبیل' 'پاکدشت' 'زرند' 'دلیجان'
 'خرمدره' 'خرمشهر' 'بروجن' 'سبزوار' 'محمود آباد' 'فسا']

In [77]:
print(df['RegionalDivision'].value_counts())

RegionalDivision
تهران     9281
کرمان      819
یزد        768
اصفهان     603
مشهد       398
          ...
شاهرود       2
خرمدره       2
دلیجان       2
سبزوار       2
فسا          2
Name: count, Length: 94, dtype: int64

In [79]:
df['RegionalDivisionNumber'] = lbe.fit_transform(df['RegionalDivision'])
df['InvoiceStatusNumber'] = lbe.fit_transform(df['InvoiceStatus'])
df

KeyError: 'InvoiceStatus'

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17096 entries, 0 to 17095
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   InvoiceID               17096 non-null  int64
 1   Number                  17096 non-null  int64
 2   Date                    17096 non-null  object
 3   CustomerRef             17096 non-null  int64
 4   BrokerRef               17096 non-null  int64
 5   Creator                 17096 non-null  int64
 6   PayerType               17096 non-null  int64
 7   InvoicePrice            17096 non-null  float64
 8   InvoiceAdditionAmount   17096 non-null  float64
 9   InvoiceReductionAmount  17096 non-null  float64
 10  InvoiceNetPrice         17096 non-null  float64
 11  InvoiceStuts            17096 non-null  object
 12  CanceledDate            17096 non-null  object
 13  CreationDate            17096 non-null  object
 14  InvoiceItemID           17096 non-null  int64
 15  InvoiceRef              17096 non-null  int64
 16  ProductRef              17096 non-null  int64
 17  Quantity                17096 non-null  float64
 18  Fee                     17096 non-null  float64
 19  Price                   17096 non-null  float64
 20  SalesArea               17096 non-null  object
 21  RegionalDivision        17096 non-null  object
 22  SalesAreaNumber         17096 non-null  int64
 23  RegionalDivisionNumber  17096 non-null  int64
dtypes: float64(7), int64(11), object(6)
memory usage: 3.1+ MB

In [ ]:
date_columns = ['CanceledDate','Date','CreationDate']
for col in date_columns:
    df[col] = pd.to_datetime(df[col])



type_map = {
    np.uint8 : ['BrokerRef','PayerType','RegionalDivisionNumber','SalesAreaNumber','InvoiceStatusNumber'],
    np.uint16 : ['InvoiceID','Number','Creator','InvoiceItemID','InvoiceRef','ProductRef','Quantity'],
    np.uint32 : ['CustomerRef','InvoiceReductionAmount'],
    np.uint64 : ['InvoicePrice','InvoiceAdditionAmount','InvoiceNetPrice','Fee','Price']
}


for dtype,columns in type_map.items():
    for col in columns:
        df[col] = df[col].astype(dtype)
    
df.info()