In [1]:
import pandas as pd

df = pd.read_excel('Data.xlsx')
df

,InvoiceID,CompanyRef,SalesOfficeRef,SalesAreaRef,OperationalCurrencyExchangeRate,Date,CustomerRef,PayerAccountRef,RecipientRef,InvoicePrice,...,InvoiceItemPrice,EffectiveNetPrice.1,NetPrice,RegionalDivisionRef,ProductUnitRef,PriceBaseUnitRef,ProductPackItemRef,ParentRef,HasReservation,BatchRef
0,62,1,2,2,1.0,2022-02-06 00:00:00.000,5,29,5.0,9.500000e+07,...,9.500000e+07,1.035500e+08,1.035500e+08,342,2,2,NaN,NaN,0,NaN
1,62,1,2,2,1.0,2022-02-06 00:00:00.000,5,29,5.0,9.500000e+07,...,9.500000e+07,1.035500e+08,1.035500e+08,342,2,2,NaN,NaN,0,NaN
2,64,1,2,2,1.0,2022-03-02 00:00:00.000,18806,43,18806.0,1.750000e+10,...,1.750000e+10,1.907500e+10,1.907500e+10,3,2,2,NaN,NaN,0,NaN
3,64,1,2,2,1.0,2022-03-02 00:00:00.000,18806,43,18806.0,1.750000e+10,...,1.750000e+10,1.907500e+10,1.907500e+10,3,2,2,NaN,NaN,0,NaN
4,67,1,2,2,1.0,2022-02-22 00:00:00.000,13704,34,13704.0,2.000000e+07,...,2.000000e+07,2.180000e+07,2.180000e+07,3,1,1,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17289,5256,1,2,5,1.0,2025-04-28 00:00:00.000,94012,1481,94012.0,1.050000e+08,...,6.000000e+07,6.600000e+07,6.600000e+07,623,1,1,NaN,NaN,0,NaN
17290,5257,1,2,5,1.0,2025-04-28 00:00:00.000,94012,1481,94012.0,8.000000e+07,...,5.000000e+07,5.500000e+07,5.500000e+07,623,1,1,NaN,NaN,0,NaN
17291,5257,1,2,5,1.0,2025-04-28 00:00:00.000,94012,1481,94012.0,8.000000e+07,...,5.000000e+07,5.500000e+07,5.500000e+07,623,1,1,NaN,NaN,0,NaN
17292,5257,1,2,5,1.0,2025-04-28 00:00:00.000,94012,1481,94012.0,8.000000e+07,...,3.000000e+07,3.300000e+07,3.300000e+07,623,1,1,NaN,NaN,0,NaN
17293,5257,1,2,5,1.0,2025-04-28 00:00:00.000,94012,1481,94012.0,8.000000e+07,...,3.000000e+07,3.300000e+07,3.300000e+07,623,1,1,NaN,NaN,0,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17294 entries, 0 to 17293
Data columns (total 36 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   InvoiceID                        17294 non-null  int64
 1   CompanyRef                       17294 non-null  int64
 2   SalesOfficeRef                   17294 non-null  int64
 3   SalesAreaRef                     17294 non-null  int64
 4   OperationalCurrencyExchangeRate  17294 non-null  float64
 5   Date                             17294 non-null  object
 6   CustomerRef                      17294 non-null  int64
 7   PayerAccountRef                  17294 non-null  int64
 8   RecipientRef                     17277 non-null  float64
 9   InvoicePrice                     17294 non-null  float64
 10  InvoiceAdditionAmount            17294 non-null  float64
 11  InvoiceReductionAmount           17294 non-null  float64
 12  EffectiveNetPrice                17294 non-null  float64
 13  InvoiceNetPrice                  17294 non-null  float64
 14  Status                           17294 non-null  int64
 15  Creator                          17294 non-null  int64
 16  InvoiceItemID                    17294 non-null  int64
 17  InvoiceRef                       17294 non-null  int64
 18  RowNumber                        17294 non-null  int64
 19  ProductRef                       17294 non-null  int64
 20  PriceBaseFee                     17294 non-null  float64
 21  Quantity                         17294 non-null  float64
 22  MajorUnitInitialQuantity         17294 non-null  float64
 23  MajorUnitQuantity                17294 non-null  float64
 24  InitialQuantity                  17294 non-null  float64
 25  InvoiceItemFee                   17294 non-null  float64
 26  InvoiceItemPrice                 17294 non-null  float64
 27  EffectiveNetPrice.1              17294 non-null  float64
 28  NetPrice                         17294 non-null  float64
 29  RegionalDivisionRef              17294 non-null  int64
 30  ProductUnitRef                   17294 non-null  int64
 31  PriceBaseUnitRef                 17294 non-null  int64
 32  ProductPackItemRef               0 non-null      float64
 33  ParentRef                        0 non-null      float64
 34  HasReservation                   17294 non-null  int64
 35  BatchRef                         0 non-null      float64
dtypes: float64(19), int64(16), object(1)
memory usage: 4.8+ MB

In [14]:
columns = ['CompanyRef', 'SalesOfficeRef', 'OperationalCurrencyExchangeRate', 'RecipientRef', 'Status', 'InvoiceRef', 'PriceBaseFee', 'MajorUnitInitialQuantity', 'MajorUnitQuantity', 'InitialQuantity', 'ProductUnitRef', 'PriceBaseUnitRef', 'ProductPackItemRef', 'ParentRef', 'HasReservation', 'BatchRef']
df.drop(columns=columns, inplace=True)
# missing = [col for col in columns if col not in df.columns]
# print("ستون‌های موجود نیست:", missing)

df

KeyError: "['CompanyRef', 'SalesOfficeRef', 'OperationalCurrencyExchangeRate', 'RecipientRef', 'Status', 'InvoiceRef', 'PriceBaseFee', 'MajorUnitInitialQuantity', 'MajorUnitQuantity', 'InitialQuantity', 'ProductUnitRef', 'PriceBaseUnitRef', 'ProductPackItemRef', 'ParentRef', 'HasReservation', 'BatchRef'] not found in axis"

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17294 entries, 0 to 17293
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   InvoiceID               17294 non-null  int64
 1   SalesAreaRef            17294 non-null  int64
 2   Date                    17294 non-null  object
 3   CustomerRef             17294 non-null  int64
 4   PayerAccountRef         17294 non-null  int64
 5   InvoicePrice            17294 non-null  float64
 6   InvoiceAdditionAmount   17294 non-null  float64
 7   InvoiceReductionAmount  17294 non-null  float64
 8   EffectiveNetPrice       17294 non-null  float64
 9   InvoiceNetPrice         17294 non-null  float64
 10  Creator                 17294 non-null  int64
 11  InvoiceItemID           17294 non-null  int64
 12  RowNumber               17294 non-null  int64
 13  ProductRef              17294 non-null  int64
 14  Quantity                17294 non-null  float64
 15  InvoiceItemFee          17294 non-null  float64
 16  InvoiceItemPrice        17294 non-null  float64
 17  EffectiveNetPrice.1     17294 non-null  float64
 18  NetPrice                17294 non-null  float64
 19  RegionalDivisionRef     17294 non-null  int64
dtypes: float64(10), int64(9), object(1)
memory usage: 2.6+ MB